<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HW#1-Dropbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA3CE5E51BAE2C7700A9DD4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA3CE5F91BAE2C7700A9DD4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA3CE6041BAE2C7700A9DD4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
